[auth]
redirect_uri = "https://***.asia-northeast1.run.app/oauth2callback"
cookie_secret = "***"
client_id = "***.apps.googleusercontent.com"
client_secret = "***"
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"